<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles_game.css">
    <title>Game <%= username %> </title>
</head>
<body>
    <div class="row">
        <div class="col-12 mx-5 my-1 d-flex justify-content-start">
            <a href="/">
                <img class="tombol-kembali m-2 d-flex align-self-center " src="/images/kembali.png" alt="kembali">
            </a>
            <img class="logo-game m-2" src="/images/logo-game.png" alt="logo-game">
            <h2 class="judul m-2 d-flex align-self-center">ROCK PAPER SCISSORS</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 text-center">
                <h2 class="teks-ket py-3" id="user_name"><%= username %></h2>
                <img class="tombol-gambar pemain" id="batu" src="/images/batu.png" alt="gambar-batu">
            </div>

            <div class="col-4 text-center"></div>

            <div class="col-4 text-center">
                <h2 class="teks-ket py-3">COM</h2>
                <img class="tombol-gambar  komputer" id="batu" src="/images/batu.png" alt="gambar-komputer-batu">
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-4 text-center">
                <img class="tombol-gambar pemain" id="kertas" src="/images/kertas.png" alt="gambar-kertas">
            </div>
            <div class="col-4 text-center">
                <img class="lawan" src="/images/lawan.png" alt="VS">
            </div>
            <div class="col-4 text-center">
                <img class="tombol-gambar komputer" id="kertas" src="/images/kertas.png" alt="gambar-komputer-kertas">
            </div>
        </div>

        <div class="row pt-5 pb-3">
            <div class="col-4 text-center">
                <img class="tombol-gambar pemain" id="gunting" src="/images/gunting.png" alt="gambar-gunting">
            </div>

            <div class="col-4 text-center"></div>

            <div class="col-4 text-center">
                <img class="tombol-gambar komputer" id="gunting" src="/images/gunting.png" alt="gambar-komputer-gunting">
            </div>
        </div>

        <div class="row">
            <div class="col-4 text-center mt-3"></div>
            <div class="col-4 text-center">
                <img class="tombol-gambar" id="mulai-ulang" src="/images/refresh.png" alt="tombol-ulang-permainan">
            </div>

            <div class="col-4 text-center mt-3"></div>
        </div>
    </div>
    <p id="user_id"><%= id %></p>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/js/script_game.js"></script>
</body>
</html>