<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" href="/history">History</a>
            <a class="nav-link active" href="/">Logout</a>
            </div>
        </div>
    </nav>

    <section class="container mt-3">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h2>List of Users</h2>
            </div>
            <div class="card-body">
                <a class="mb-3 btn btn-success" href="/user/add">Add User</a>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(element => { %>
                            <tr>
                                <td><%= element.id %></td>
                                <td><%= element.username %></td>
                                <td><%= element.password %></td>
                                <td><%= element.email %> </td>
                                <td class="d-flex justify-content-around">
                                    <a href="/user/edit/<%= element.id %>" class="btn btn-warning">Edit Account</a>
                                    <a href="/biodata/<%= element.id %>" class="btn btn-primary">Biodata</a>
                                    <a href="/history/<%= element.id %>" class="btn btn-primary">History</a>
                                    <form method="POST" action="/user/dashboard/<%= element.id %>?_method=DELETE">
                                        <button class="btn btn-danger" type="submit" onclick="return confirm('Are your sure to delete this data?')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>